.watchlist-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
        border: 1px solid var(--border-color);

}

.watchlist-table th, .watchlist-table td {
    border: 1px solid var(--border-color);
    padding: 8px;
}

.watchlist-table th {
    background-color: var(--border-color);
    color: var(--background-color);

}

.watchlist-table tr:nth-child(even) {
    background-color: var(--background-color);
}

.watchlist-table tr:hover {
    background-color: rgba(128,128,128,0.2);
}

.positive {
    color: var(--text-color);
}

.negative {
    color: var(--text-color);
}